

.Feed {
    .container {
        display: flex;
        gap: 20px;
        height: 100vh; 
        overflow: hidden;
    }
    .left-part {
        height: "calc(100vh-60px)";
        overflow-y: auto;
        flex: 2;
    }
    .left-part::-webkit-scrollbar {
        display: none;
    }
    
    .right-part{
        flex:1;
        margin-top: 20px;

        .followings-list {
            margin-top: 8px;
            border: 1px solid black;
            border-radius: 4px;
            max-height: 300px;
            overflow-y: auto;
        }
        .suggestions-list {
            margin-top: 8px;
            border: 1px solid black;
            border-radius: 4px;
            max-height: 300px;
            overflow-y: auto;
        }
        .title {
            margin-top: 20px;
        }
    }
}